<div class="complete">
    <div class="container">
        <div class="abs-center">
            <form>
                <div class="form-group">
                    <div class="topBottom">
                        <a routerLink="/encuesta"><button type="button" class="btn btn-light btn-lg btn-block">Encuesta</button></a>                                 
                    </div>   
                    <div class="topBottom">
                        <a routerLink="/resultados"><button type="button" class="btn btn-light btn-lg btn-block">Resultados</button></a>                                 
                    </div>   
                    <div class="topBottom">
                        <a href="#"><button type="button" class="btn btn-light btn-lg btn-block">Acerca de</button></a>                                 
                    </div>                                           
                </div>
            </form>
        </div>
    </div>
</div>